:root { 
    --hd: #E64949; 
    --tx: #ffffff; 
    --ot: #3B4ED9; 
} 

html { 
    scroll-behavior: smooth; 
    scrollbar-width: auto;
    scrollbar-color: var(--hd) #f1f1f1;
} 

body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Modak', display; 
    background-color: #ffffff;
    background-image: radial-gradient(#DEDEDE 1px, transparent 1px); 
    background-size: 16px 16px; 
    padding-top: 80px; 
} 

main { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 150vh; 
} 

header { 
    background: var(--hd); 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    padding: 15px 30px; 
    box-sizing: border-box;
    z-index: 1000; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
} 

a, p, h1 { 
    color: var(--tx); 
    -webkit-text-stroke: 0.5px var(--ot); 
    font-weight: 700; 
    font-size: 30px;
    margin: 0; 
} 
::-webkit-scrollbar { 
    width: 14px; 
} 
::-webkit-scrollbar-track { 
    background: #f1f1f1; 
    border-left: 2px solid #DEDEDE; 
} 
::-webkit-scrollbar-thumb { 
    background: var(--hd); 
    border-radius: 10px; 
    border: 3px solid #f1f1f1; 
} 
::-webkit-scrollbar-thumb:hover { 
    background: #3B4ED9; 
} 
